.data {
  max-width: $app-width;
  margin: 0 auto;
  position: sticky;
  top: 0;
  height: 20px;
  padding: 10px 0;
  background: rgba(238, 209, 167, 0.9);
  text-align: center;
  z-index: 10;

  &--empty {
    position: relative;
    height: 0px;
    background: transparent;
    padding: 0 0;
    z-index: 0;
  }
}
