.feature-section {
  //max-width: 350px;
  margin: 0 auto;
  padding: 0 10px 30px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  article {
    width: 350px;
  }

  h2 {
    text-align: center;
    font-weight: normal;
  }

  li {
    margin: 7px 0;
  }

  &__image {
    margin: 20px;
    max-width: calc(100% - 20px - 20px);
    height: auto;
  }
}