body {
  margin: 0;
  padding: 5px 0 10px 0;
  font-family: 'Exo', sans-serif;
  font-weight: 300; }

.header h1 {
  color: #0c0c0c;
  text-align: center;
  font-weight: 100;
  font-style: italic; }

.about {
  text-align: center;
  padding: 0 10px; }
  .about-description--error {
    color: red; }

.data {
  position: sticky;
  top: 0;
  height: 20px;
  padding: 10px;
  background: rgba(238, 209, 167, 0.9);
  text-align: center;
  z-index: 10; }

.image-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .image-section .lazy-image {
    width: 300px;
    height: 300px;
    margin: 10px; }
  .image-section .fade-in {
    animation-name: fade-in;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.scroll-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(164, 197, 164, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  cursor: pointer; }
  .scroll-to-top:active {
    background-color: rgba(130, 160, 130, 0.9); }

