/* As long as the .user-is-tabbing doesn't exists, have no outlines for buttons or select elements */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) select:focus {
  outline: none;
}

/* As long as the .user-is-tabbing doesn't exist, have an own visually pleasant outline for input and textarea elements */
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: 2px solid aqua;
}

/* If the .user-is-tabbing exists, override the default outline styling with an own styling, with same styling for all focus elements */
body.user-is-tabbing *:focus {
  outline: 2px solid aqua !important;
}
