body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: gray;
  text-align: center;
}

.description {
  text-align: center;
}

.image-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lazy-image {
  width: 300px;
  height: 300px;
  margin: 10px;
}